@font-face {
  font-family: 'SourceSansProLight';
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight/SourceSansProLight?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
}
/* line 1, ../sass/base/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  /* line 8, ../sass/base/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 13, ../sass/base/_grid.scss */
  .container {
    width: 970px;
  }
}
/* line 17, ../sass/base/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 23, ../sass/base/_grid.scss */
.row {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 27, ../sass/base/_grid.scss */
.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 33, ../sass/base/_grid.scss */
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 36, ../sass/base/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 39, ../sass/base/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 42, ../sass/base/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 45, ../sass/base/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 48, ../sass/base/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 51, ../sass/base/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 54, ../sass/base/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 57, ../sass/base/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 60, ../sass/base/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 63, ../sass/base/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 66, ../sass/base/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 69, ../sass/base/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 72, ../sass/base/_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 75, ../sass/base/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 78, ../sass/base/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 81, ../sass/base/_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 84, ../sass/base/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 87, ../sass/base/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 90, ../sass/base/_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 93, ../sass/base/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 96, ../sass/base/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 99, ../sass/base/_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 102, ../sass/base/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 105, ../sass/base/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 108, ../sass/base/_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 111, ../sass/base/_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 114, ../sass/base/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 117, ../sass/base/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 120, ../sass/base/_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 123, ../sass/base/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 126, ../sass/base/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 129, ../sass/base/_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 132, ../sass/base/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 135, ../sass/base/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 138, ../sass/base/_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 141, ../sass/base/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 144, ../sass/base/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 147, ../sass/base/_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 150, ../sass/base/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 153, ../sass/base/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 156, ../sass/base/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 159, ../sass/base/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 162, ../sass/base/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 165, ../sass/base/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 168, ../sass/base/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 171, ../sass/base/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 174, ../sass/base/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 177, ../sass/base/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 180, ../sass/base/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 183, ../sass/base/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 186, ../sass/base/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  /* line 190, ../sass/base/_grid.scss */
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 193, ../sass/base/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 196, ../sass/base/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 199, ../sass/base/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 202, ../sass/base/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 205, ../sass/base/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 208, ../sass/base/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 211, ../sass/base/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 214, ../sass/base/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 217, ../sass/base/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 220, ../sass/base/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 223, ../sass/base/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 226, ../sass/base/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 229, ../sass/base/_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 232, ../sass/base/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 235, ../sass/base/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 238, ../sass/base/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 241, ../sass/base/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 244, ../sass/base/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 247, ../sass/base/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 250, ../sass/base/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 253, ../sass/base/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 256, ../sass/base/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 259, ../sass/base/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 262, ../sass/base/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 265, ../sass/base/_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 268, ../sass/base/_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 271, ../sass/base/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 274, ../sass/base/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 277, ../sass/base/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 280, ../sass/base/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 283, ../sass/base/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 286, ../sass/base/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 289, ../sass/base/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 292, ../sass/base/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 295, ../sass/base/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 298, ../sass/base/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 301, ../sass/base/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 304, ../sass/base/_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 307, ../sass/base/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 310, ../sass/base/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 313, ../sass/base/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 316, ../sass/base/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 319, ../sass/base/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 322, ../sass/base/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 325, ../sass/base/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 328, ../sass/base/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 331, ../sass/base/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 334, ../sass/base/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 337, ../sass/base/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 340, ../sass/base/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 343, ../sass/base/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  /* line 348, ../sass/base/_grid.scss */
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 351, ../sass/base/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 354, ../sass/base/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 357, ../sass/base/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 360, ../sass/base/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 363, ../sass/base/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 366, ../sass/base/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 369, ../sass/base/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 372, ../sass/base/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 375, ../sass/base/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 378, ../sass/base/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 381, ../sass/base/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 384, ../sass/base/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 387, ../sass/base/_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 390, ../sass/base/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 393, ../sass/base/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 396, ../sass/base/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 399, ../sass/base/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 402, ../sass/base/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 405, ../sass/base/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 408, ../sass/base/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 411, ../sass/base/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 414, ../sass/base/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 417, ../sass/base/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 420, ../sass/base/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 423, ../sass/base/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 426, ../sass/base/_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 429, ../sass/base/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 432, ../sass/base/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 435, ../sass/base/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 438, ../sass/base/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 441, ../sass/base/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 444, ../sass/base/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 447, ../sass/base/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 450, ../sass/base/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 453, ../sass/base/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 456, ../sass/base/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 459, ../sass/base/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 462, ../sass/base/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 465, ../sass/base/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 468, ../sass/base/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 471, ../sass/base/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 474, ../sass/base/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 477, ../sass/base/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 480, ../sass/base/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 483, ../sass/base/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 486, ../sass/base/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 489, ../sass/base/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 492, ../sass/base/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 495, ../sass/base/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 498, ../sass/base/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 501, ../sass/base/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  /* line 506, ../sass/base/_grid.scss */
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 509, ../sass/base/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 512, ../sass/base/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 515, ../sass/base/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 518, ../sass/base/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 521, ../sass/base/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 524, ../sass/base/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 527, ../sass/base/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 530, ../sass/base/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 533, ../sass/base/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 536, ../sass/base/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 539, ../sass/base/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 542, ../sass/base/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 545, ../sass/base/_grid.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 548, ../sass/base/_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 551, ../sass/base/_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 554, ../sass/base/_grid.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 557, ../sass/base/_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 560, ../sass/base/_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 563, ../sass/base/_grid.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 566, ../sass/base/_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 569, ../sass/base/_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 572, ../sass/base/_grid.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 575, ../sass/base/_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 578, ../sass/base/_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 581, ../sass/base/_grid.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 584, ../sass/base/_grid.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 587, ../sass/base/_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 590, ../sass/base/_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 593, ../sass/base/_grid.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 596, ../sass/base/_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 599, ../sass/base/_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 602, ../sass/base/_grid.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 605, ../sass/base/_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 608, ../sass/base/_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 611, ../sass/base/_grid.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 614, ../sass/base/_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 617, ../sass/base/_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 620, ../sass/base/_grid.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 623, ../sass/base/_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 626, ../sass/base/_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 629, ../sass/base/_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 632, ../sass/base/_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 635, ../sass/base/_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 638, ../sass/base/_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 641, ../sass/base/_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 644, ../sass/base/_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 647, ../sass/base/_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 650, ../sass/base/_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 653, ../sass/base/_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 656, ../sass/base/_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 659, ../sass/base/_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* line 663, ../sass/base/_grid.scss */
.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 675, ../sass/base/_grid.scss */
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* line 681, ../sass/base/_grid.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 686, ../sass/base/_grid.scss */
.pull-right {
  float: right !important;
}

/* line 689, ../sass/base/_grid.scss */
.pull-left {
  float: left !important;
}

/* line 692, ../sass/base/_grid.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/base/_base.scss */
html {
  height: 100%;
}
/* line 6, ../sass/base/_base.scss */
html body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "SourceSansProLight", sans-serif;
}

/* line 1, ../sass/layout/_orange_block.scss */
.slide-registraition {
  background: linear-gradient(#ffa200, #ff8920);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 5, ../sass/layout/_orange_block.scss */
.slide-registraition .orange-back {
  background: url("../images/point.png");
  background-position: center;
  background-size: cover;
  max-height: 505px;
}
/* line 10, ../sass/layout/_orange_block.scss */
.slide-registraition .orange-back .slide-reg {
  border-radius: 5px;
  position: relative;
  min-height: 468px;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px #e99702;
}
/* line 17, ../sass/layout/_orange_block.scss */
.slide-registraition .orange-back .slide-reg:before {
  content: "";
  position: absolute;
  width: 400px;
  height: 50px;
  box-shadow: 0 20px 4px #cc7618;
  transform: rotate(-2deg);
  left: 12px;
  bottom: 15px;
  z-index: -1;
}
/* line 28, ../sass/layout/_orange_block.scss */
.slide-registraition .orange-back .slide-reg:after {
  content: "";
  position: absolute;
  width: 400px;
  height: 50px;
  box-shadow: 0 20px 4px #cc7618;
  transform: rotate(2deg);
  right: 12px;
  bottom: 15px;
  z-index: -1;
}

/* line 42, ../sass/layout/_orange_block.scss */
.no-cssgradients .slide-registraition {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffa200', EndColorStr='#ff8920')";
  /* IE8 */
}

/* line 1, ../sass/layout/_slider_first.scss */
.slid {
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden;
  border-right: 2px solid #dcdcdc;
  max-height: 466px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  position: relative;
}
/* line 2, ../sass/mixins/_clearfix.scss */
.slid:before, .slid:after {
  content: '';
  display: table;
}
/* line 7, ../sass/mixins/_clearfix.scss */
.slid:after {
  clear: both;
}
/* line 10, ../sass/layout/_slider_first.scss */
.slid .owl-item {
  max-width: 485px;
  width: 100%;
}
/* line 14, ../sass/layout/_slider_first.scss */
.slid .owl-theme .owl-dots {
  position: absolute;
  top: 420px;
  left: 40%;
}
/* line 19, ../sass/layout/_slider_first.scss */
.slid .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 7px;
  background: rgba(31, 31, 31, 0.6);
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
  box-shadow: 0 0 3px white;
}
/* line 30, ../sass/layout/_slider_first.scss */
.slid .owl-theme .owl-dots .owl-dot.active span, .slid .owl-theme .owl-dots .owl-dot:hover span {
  background: linear-gradient(#ffa608, #ff8c1d);
  background-color: orange;
  border: 1px solid rgba(31, 31, 31, 0.6);
}

/* line 1, ../sass/layout/_form.scss */
.input {
  position: relative;
  padding: 0 30px;
  margin-top: 20px;
}


/* line 7, ../sass/layout/_form.scss */
.name {
  font-size: 1.125rem;
  color: #666666;
  display: inline-block;
  width: 20%;
}

/* line 12, ../sass/layout/_form.scss */
.in-name {
  display: inline-block;
  width: 72%;

}
/* line 15, ../sass/layout/_form.scss */
.in-name .in {
  background: url("../images/bg-input1.png") repeat-x;
  height: 35px;
  border-radius: 30px;
  border: 1px solid rgba(209, 0, 0, 49);
  outline: none;
  padding: 0 20px;
  max-width: 310px;
  width: 100%;

}
/* line 54, ../sass/mixins/_pseudo-block.scss */
.in-name:after {
  display: block;
  position: absolute;
  content: url("../images/icons/cross.png");
  left: 90%;
  top: -20px;

}

/* line 33, ../sass/layout/_form.scss */
.selects {
  position: relative;
  padding: 0 30px;
  margin-top: 20px;

}
/* line 36, ../sass/layout/_form.scss */
.selects .age {
  font-size: 1.125rem;
  color: #666666;
  width: 20%;
  display: inline-block;
}
/* line 42, ../sass/layout/_form.scss */
.selects .day  {
  width: 20%;
  display: inline-block;
}
.selects .day #day + .selecter-selected {
  width: 75px;
  max-height: 35px;
  border-radius: 30px;
}
/* line 50, ../sass/layout/_form.scss */
.selects .month  {
  width: 29%;
  display: inline-block;
}
.selects .month #month + .selecter-selected {
  width: 113px;
  height: 35px;
  border-radius: 30px;

}
/* line 58, ../sass/layout/_form.scss */
.selects .year {
  width: 20%;
  display: inline-block;
}
.selects .year #year + .selecter-selected {
  width: 92px;
  height: 35px;
  border-radius: 30px;

}
/* line 54, ../sass/mixins/_pseudo-block.scss */
.selects:after {
  content: '';
  display: block;
  position: absolute;
  content: url("../images/icons/mark.png");
  right: 24px;
  top: 3px;
}

/* line 71, ../sass/layout/_form.scss */
.select-place {
  padding: 0 30px;
  margin-top: 20px;
}
/* line 73, ../sass/layout/_form.scss */
.select-place .place {
  font-size: 1.125rem;
  color: #666666;
  display: inline-block;
  width: 20%
}
/* line 79, ../sass/layout/_form.scss */
.city {
  width: 50%;
  display: inline-block;
}
.select-place .city #city + .selecter-selected {
  width: 310px;
  height: 35px;
  border-radius: 30px;
}

/* line 87, ../sass/layout/_form.scss */
.checkbox {
  margin-top: 20px;
  padding: 0 60px 0 115px;
}
/* line 89, ../sass/layout/_form.scss */
.checkbox .check {
  display: inline-block;
  width: 60%;
}
/* line 93, ../sass/layout/_form.scss */
.checkbox .check ul li {
  margin-bottom: 10px;
}
/* line 95, ../sass/layout/_form.scss */
.checkbox .check ul li input[type="checkbox"] {
  display: none;
}
/* line 98, ../sass/layout/_form.scss */
.checkbox .check ul li input[type="checkbox"] + label:before {
  content: url(../images/check-bg.png);
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 15px;
  margin-left: 5px;
}
/* line 106, ../sass/layout/_form.scss */
.checkbox .check ul li input[type=checkbox]:checked + label:before {
  content: url("../images/check_or_bg.png");
}
/* line 112, ../sass/layout/_form.scss */
.checkbox .radio {
  display: inline-block;
  width: 35%;
}
/* line 115, ../sass/layout/_form.scss */
.checkbox .radio ul li {
  margin-bottom: 10px;
}
/* line 117, ../sass/layout/_form.scss */
.checkbox .radio ul li input[type="radio"] {
  display: none;
}
/* line 120, ../sass/layout/_form.scss */
.checkbox .radio ul li input[type="radio"] + label:before {
  content: url(../images/radio_bg.png);
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 15px;
  margin-left: 5px;
}
/* line 128, ../sass/layout/_form.scss */
.checkbox .radio ul li input[type=radio]:checked + label:before {
  content: url("../images/radio_or_bg.png");
}

/* line 135, ../sass/layout/_form.scss */
.green-button {
  padding: 0 0 0 100px;
  margin: 11px 0;

}
/* line 138, ../sass/layout/_form.scss */
.green-button .start {
  width: 310px;
  height: 68px;
  border: 1px solid #7ea606;
  border-radius: 35px;
  background: url("../images/gb_bg.png") repeat-x;
  background-position: center;
  text-align: center;
}
/* line 146, ../sass/layout/_form.scss */
.green-button .start a {
  display: block;
  height: 100%;
  margin-top: 5px;
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
}
/* line 154, ../sass/layout/_form.scss */
.green-button .start:hover {
  -webkit-box-shadow: 0px 0px 9px 2px #ffa858;
  -moz-box-shadow: 0px 0px 9px 2px #ffa858;
  box-shadow: 0px 0px 9px 2px #ffa858;
}

/* line 1, ../sass/layout/_round_block.scss */
.block-content-top {
  padding-top: 10px;
  max-height: 500px;
}
/* line 4, ../sass/layout/_round_block.scss */
.block-content-top .round-block {
  margin-right: -20px;
  max-height: 305px;
  overflow: hidden;
}
/* line 8, ../sass/layout/_round_block.scss */
.block-content-top .round-block .code {
  font-size: 1.938rem;
  margin: 30px 0;
  color: #4e4e4e;
}
/* line 14, ../sass/layout/_round_block.scss */
.block-content-top .round-block .circle img {
  float: left;
  shape-outside: inset(1% round 50%);
  margin-right: 15px;
}
/* line 19, ../sass/layout/_round_block.scss */
.block-content-top .round-block .circle p {
  text-align: justify;
  line-height: 24px;
  font-size: 0.875rem;
}

/* line 2, ../sass/layout/_slider_tabs.scss */
.slider-second .users {
  font-size: 1.938rem;
  color: #4e4e4e;
  margin: 30px 0;
}
/* line 7, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec {
  max-width: 457px;
  width: 100%;
  margin-left: 22px;
  padding: 0 30px;
}
/* line 14, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-dots {
  display: none;
}
/* line 17, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-item {
  background: url("../images/girl.png") no-repeat center top;
  height: 70px;
  width: 78px;
  margin: 0 auto;
}
/* line 22, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-item:hover {
  background: url("../images/shadow-girl.png") no-repeat center top;
  position: relative;
  height: 70px;
  width: 78px;
  margin: 0 auto;
}
/* line 28, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-item:hover .add {
  position: absolute;
  right: 15px;
  top: 42px;
  width: 17px;
  height: 19px;
  display: block;
  background: url("../images/icons/icon_add.png") no-repeat;
  background-position: center;
  cursor: pointer;
}
/* line 38, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-item:hover .add:hover {
  width: 17px;
  height: 19px;
  background: url("../images/icons/icon_add_hov.png") no-repeat;
}
/* line 44, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-item:hover .wink {
  position: absolute;
  left: 15px;
  top: 43px;
  width: 17px;
  height: 17px;
  display: block;
  background: url("../images/icons/icon_wink.png") no-repeat;
  background-position: center;
  cursor: pointer;
}
/* line 54, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-item:hover .wink:hover {
  width: 17px;
  height: 17px;
  background: url("../images/icons/icon_wink_hov.png") no-repeat;
}
/* line 63, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  font-size: 0;
  width: 22px;
  height: 20px;
  background-image: url(../images/icons/prev.png);
  left: -25px;
  top: 25px;
}
/* line 72, ../sass/layout/_slider_tabs.scss */
.slider-second .slide-sec .owl-carousel .owl-nav .owl-next {
  position: absolute;
  font-size: 0;
  width: 22px;
  height: 20px;
  background-image: url(../images/icons/next.png);
  right: -25px;
  top: 25px;
}

/* line 85, ../sass/layout/_slider_tabs.scss */
.main {
  max-width: 400px;
  padding: 5px;
  background: #fff;
  height: 195px;
  margin-left: 50px;
  margin-top: 15px;
}
/* line 92, ../sass/layout/_slider_tabs.scss */
.main input {
  display: none;
}
/* line 95, ../sass/layout/_slider_tabs.scss */
.main .tab {
  height: 40px;
  display: inline-block;
  margin: 0 0 -2px;
  padding: 10px 25px;
  font-weight: 600;
  text-align: center;
  color: #ffa352;
  border-right: 1px solid #cccccc;
  background-color: #f8f8f8;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
}
/* line 108, ../sass/layout/_slider_tabs.scss */
.main .tab span {
  color: #b9b9b9;
}
/* line 112, ../sass/layout/_slider_tabs.scss */
.main input:checked + .tab {
  color: #969696;
  border: 1px solid #eeeeee;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
}
/* line 123, ../sass/layout/_slider_tabs.scss */
.main section {
  display: none;
  padding: 20px 15px 15px;
  box-shadow: 1.5px 2px 3px #cbcbcb;
  border-radius: 0px 8px 8px 8px;
  -moz-border-radius: 0px 8px 8px 8px;
  -webkit-border-radius: 0px 8px 8px 8px;
  height: 165px;
  background: white;
  border: 1px solid #eeeeee;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
/* line 137, ../sass/layout/_slider_tabs.scss */
.main #tab1:checked ~ #content1,
.main #tab2:checked ~ #content2 {
  display: block;
}
/* line 142, ../sass/layout/_slider_tabs.scss */
.main #content2 {
  padding-top: 0;
}
/* line 144, ../sass/layout/_slider_tabs.scss */
.main #content2 .wrapp {
  width: 220px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}
/* line 150, ../sass/layout/_slider_tabs.scss */
.main #content2 .wrapp .progress {
  padding: 1px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-image: url("../images/progress_bg1.png");
  border: 1px solid #cfcfcf;
  width: 220px;
}
/* line 157, ../sass/layout/_slider_tabs.scss */
.main #content2 .wrapp .progress .progress-bar {
  height: 12px;
  border-radius: 3px;
  background-repeat: repeat-x;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
/* line 171, ../sass/layout/_slider_tabs.scss */
.main #content2 #five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-image: url("../images/progress.png");
}
/* line 176, ../sass/layout/_slider_tabs.scss */
.main #content2 #twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-image: url("../images/progress.png");
}
/* line 181, ../sass/layout/_slider_tabs.scss */
.main #content2 #fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-image: url("../images/progress.png");
}
/* line 186, ../sass/layout/_slider_tabs.scss */
.main #content2 #seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-image: url("../images/progress.png");
}
/* line 191, ../sass/layout/_slider_tabs.scss */
.main #content2 #onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-image: url("../images/progress.png");
}
/* line 196, ../sass/layout/_slider_tabs.scss */
.main #content2 .radio {
  display: none;
}
/* line 200, ../sass/layout/_slider_tabs.scss */
.main #content2 .label {
  background: url("../images/step-gray.png") no-repeat;
  width: 56px;
  padding: 9px 0 0 5px;
  height: 28px;
  display: inline-block;
  margin-right: -10px;
  font-size: 9px;
  font-family: "OpenSansLight", sans-serif;
  color: #4e4e4e;
}
/* line 211, ../sass/layout/_slider_tabs.scss */
.main #content2 .radio:checked + .label {
  background: url("../images/step-orange.png") no-repeat;
  width: 56px;
  height: 28px;
}
/* line 216, ../sass/layout/_slider_tabs.scss */
.main #content2 .radio:checked + .one {
  background: url("../images/step-orange.png") no-repeat;
  margin-right: -17px;
}
/* line 220, ../sass/layout/_slider_tabs.scss */
.main #content2 .one {
  position: absolute;
  left: 0px;
  z-index: 5;
  top: 40px;
}
/* line 226, ../sass/layout/_slider_tabs.scss */
.main #content2 .two {
  position: absolute;
  left: 43px;
  z-index: 4;
  top: 40px;
}
/* line 232, ../sass/layout/_slider_tabs.scss */
.main #content2 .three {
  position: absolute;
  left: 85px;
  z-index: 3;
  top: 40px;
}
/* line 238, ../sass/layout/_slider_tabs.scss */
.main #content2 .four {
  position: absolute;
  left: 127px;
  z-index: 2;
  top: 40px;
}
/* line 244, ../sass/layout/_slider_tabs.scss */
.main #content2 .five {
  background: url("../images/step-tr.png") no-repeat;
  position: absolute;
  left: 170px;
  top: 40px;
}
/* line 251, ../sass/layout/_slider_tabs.scss */
.main #content2 .circle-position {
  position: absolute;
  max-width: 100px;
  width: 100%;
  max-height: 200px;
  right: 55px;
  bottom: 35px;
}
/* line 258, ../sass/layout/_slider_tabs.scss */
.main #content2 .circle-position .colo {
  width: 100px;
  height: 100px;
}
/* line 262, ../sass/layout/_slider_tabs.scss */
.main #content2 .circle-position .colo .r-progress-bar > circle {
  transition: stroke-dashoffset 0.25s ease;
  stroke: #e7e8e8;
  stroke-width: 15px;
}
/* line 267, ../sass/layout/_slider_tabs.scss */
.main #content2 .circle-position .colo .r-progress-bar > .bar {
  stroke: #ffa352;
}
/* line 270, ../sass/layout/_slider_tabs.scss */
.main #content2 .circle-position .colo .btn {
  height: 100px;
  width: 100px;
  line-height: 23px;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 282, ../sass/layout/_slider_tabs.scss */
.main #content2 .circle-position .colo .some-wrapper > .inner-wrapper {
  position: absolute;
  height: 100px;
}
/* line 286, ../sass/layout/_slider_tabs.scss */
.main #content2 .circle-position .colo .some-wrapper .text {
  font-size: 21px;
  margin-top: 38px;
  margin-left: 42px;
  color: #4e4e4e;
}
/* line 295, ../sass/layout/_slider_tabs.scss */
.main #content2 .stars {
  position: absolute;
  width: 100px;
  height: 20px;
  left: 7px;
  bottom: -20px;
}
/* line 301, ../sass/layout/_slider_tabs.scss */
.main #content2 .stars #reviewStars-input {
  position: relative;
  float: left;
}
/* line 305, ../sass/layout/_slider_tabs.scss */
.main #content2 .stars #reviewStars-input input {
  display: none;
}
/* line 308, ../sass/layout/_slider_tabs.scss */
.main #content2 .stars #reviewStars-input input:checked ~ label {
  background: url("../images/star-gold.png") no-repeat;
  width: 16px;
  height: 16px;
}
/* line 313, ../sass/layout/_slider_tabs.scss */
.main #content2 .stars #reviewStars-input label {
  background: url("../images/star-silver.png") no-repeat;
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
  margin-right: 3px;
  position: relative;
  z-index: 1;
}
/* line 323, ../sass/layout/_slider_tabs.scss */
.main #content2 .stars #reviewStars-input label:hover, .main #content2 .stars #reviewStars-input label:hover ~ label {
  background: url("../images/star-gold.png") no-repeat;
  width: 16px;
  height: 16px;
}

/* line 1, ../sass/layout/_columns.scss */
.columns {
  padding: 20px 0;
}
/* line 4, ../sass/layout/_columns.scss */
.columns .wrapper .title {
  font-size: 1.938rem;
  color: #4e4e4e;
  margin-bottom: 20px;
}
/* line 9, ../sass/layout/_columns.scss */
.columns .wrapper .column-text {
  max-width: 280px;
  width: 100%;
  color: #4e4e4e;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 17, ../sass/layout/_columns.scss */
.columns .wrapper blockquote {
  max-width: 290px;
  border-left: 2px solid #ffa352;
  padding-left: 20px;
}
/* line 21, ../sass/layout/_columns.scss */
.columns .wrapper blockquote .column-orange-text {
  color: #ffa352;
  line-height: 16px;
  max-width: 280px;
}
/* line 27, ../sass/layout/_columns.scss */
.columns .wrapper .column-text-m {
  margin-top: 20px;
  color: #4e4e4e;
  font-size: 0.875rem;
  line-height: 20px;
  max-width: 280px;
}
/* line 34, ../sass/layout/_columns.scss */
.columns .wrapper .list {
  color: #4e4e4e;
  font-size: 0.875rem;
  line-height: 22px;
  margin-bottom: 10px;
  max-width: 280px;
}
/* line 40, ../sass/layout/_columns.scss */
.columns .wrapper .list span {
  font-size: 0.6875rem;
  color: #a3a3a3;
}
/* line 45, ../sass/layout/_columns.scss */
.columns .wrapper .point-f {
  margin-top: 20px;
}
/* line 47, ../sass/layout/_columns.scss */
.columns .wrapper .point-f a {
  color: #ffa352;
}
/* line 51, ../sass/layout/_columns.scss */
.columns .wrapper .point-l {
  margin-bottom: 20px;
}
/* line 54, ../sass/layout/_columns.scss */
.columns .wrapper .italic {
  position: relative;
  margin: 20px 0;
  padding: 10px 30px;
  color: #9a9a9a;
  font-size: 0.875rem;
  max-width: 280px;
  font-style: italic;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.columns .wrapper .italic:before {
  content: '';
  display: block;
  position: absolute;
  content: url("../images/quote_left.png");
  left: 0;
  top: 0;
}
/* line 54, ../sass/mixins/_pseudo-block.scss */
.columns .wrapper .italic:after {
  content: '';
  display: block;
  position: absolute;
  content: url("../images/quote_right.png");
  right: 0;
  bottom: 0;
}
/* line 73, ../sass/layout/_columns.scss */
.columns .wrapper .more {
  float: right;
  position: relative;
  padding: 0 10px;
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.columns .wrapper .more:before {
  content: '';
  display: block;
  position: absolute;
  content: url("../images/orange-triangle.png");
  left: 0;
}
/* line 81, ../sass/layout/_columns.scss */
.columns .wrapper .more a {
  color: #ffa352;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  height: 100px;
}
/* line 3, ../sass/layout/_footer.scss */
.footer .logo-web {
  border-top: 1px solid #cfcfcf;
}
/* line 5, ../sass/layout/_footer.scss */
.footer .logo-web .logo-footer {
  margin: 30px 0 20px 20px;
}
/* line 8, ../sass/layout/_footer.scss */
.footer .logo-web .web-coder {
  float: right;
  margin: 20px 15px 20px 0;
}

/* line 3, ../sass/partials/_logo.scss */
.header .top-header-block .logo {
  width: 278px;
  margin: 20px auto;
}
/* line 6, ../sass/partials/_logo.scss */
.header .top-header-block .logo img {
  padding-left: 14px;
}

/* line 1, ../sass/partials/_text_gradient.scss */
.right-side {
  position: relative;
  padding: 0 15px 15px 20px;
  border-radius: 0 3px 3px 0;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #fff;
}
.right-side .join {
  padding: 0 10px;
}
/* line 2, ../sass/mixins/_clearfix.scss */
.right-side:before, .right-side:after {
  content: '';
  display: table;
}
/* line 7, ../sass/mixins/_clearfix.scss */
.right-side:after {
  clear: both;
}
/* line 7, ../sass/partials/_text_gradient.scss */
.right-side .join .gradient-text {
  width: 450px;
  height: 63px;
}

/* line 1, ../sass/partials/_buttons.scss */
.buttons {
  margin-top: 20px;
  padding: 0 30px;
}
/* line 3, ../sass/partials/_buttons.scss */
.buttons .i-am {
  width: 20%;
  display: inline-block;
  font-size: 1.125rem;
  color: #666666;
  vertical-align: top;
  margin-top: 7px;
}
/* line 8, ../sass/partials/_buttons.scss */
.buttons .looking {
  position: relative;
  font-size: 1.125rem;
  color: #666666;
  width: 20%;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  margin-top: 7px;
}
/* line 10, ../sass/partials/_buttons.scss */
.buttons .looking:before {
  background: url("../images/icons/search.png") no-repeat;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: -20px;
}
/* line 21, ../sass/partials/_buttons.scss */
.buttons .button-r, .buttons .button-l {
  width: 24%;
  display: inline-block;
  margin-bottom: -7px;
}
/* line 23, ../sass/partials/_buttons.scss */
.buttons .button-r .button, .buttons .button-l .button {
  height: 40px;
  width: 100px;
  background: url("../images/button.png") no-repeat;
}
/* line 27, ../sass/partials/_buttons.scss */
.buttons .button-r .button .button-input, .buttons .button-l .button .button-input {
  display: none;
}
/* line 30, ../sass/partials/_buttons.scss */
.buttons .button-r .button .button-label-f, .buttons .button-l .button .button-label-f {
  float: left;
  width: 50%;
  height: 40px;
  cursor: pointer;
}
/* line 36, ../sass/partials/_buttons.scss */
.buttons .button-r .button .button-label-m, .buttons .button-l .button .button-label-m {
  float: left;
  width: 50%;
  height: 40px;
  cursor: pointer;
}
/* line 42, ../sass/partials/_buttons.scss */
.buttons .button-r .button .button-input:checked + .button-label-f, .buttons .button-l .button .button-input:checked + .button-label-f {
  background: url("../images/button-left.png") no-repeat;
}
/* line 45, ../sass/partials/_buttons.scss */
.buttons .button-r .button .button-input:checked + .button-label-m, .buttons .button-l .button .button-input:checked + .button-label-m {
  background: url("../images/button-right.png") no-repeat;
}
/* line 50, ../sass/partials/_buttons.scss */
/*.buttons .button-l {*/
  /*margin-left: -5px;*/
/*}*/

@media (max-width: 991px) {
  /* line 4, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg {
    min-height: 300px;
  }
  /* line 6, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .slid {
    max-height: 300px;
  }
  /* line 9, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side {
    max-height: 300px;
    padding: 0 15px 15px 10px;
  }
  /* line 12, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .gradient-text {
    margin-top: -20px;
  }
  /* line 15, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .buttons {
    margin-top: 5px;
  }
  /* line 17, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .buttons .button-l {

  }
  /* line 20, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .buttons .looking {
    font-size: 1rem;
    font-weight: bold;
    width: 18%;
  }
  /* line 24, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .buttons .button-r {

  }
  /* line 27, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .buttons .in {

  }
  /* line 31, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .input {
    margin-top: 5px;
  }
  /* line 54, ../sass/mixins/_pseudo-block.scss */
  .slide-registraition .orange-back .slide-reg .right-side .input .in-name:after {
    content: '';
    display: block;
    position: absolute;
    display: block;
    position: absolute;
    content: url(../images/icons/cross.png);
    top: -20px;
  }
  /* line 42, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .input .in {
    width: 285px;
  }
  /* line 46, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .selects {
    margin-top: 5px;
  }
  /* line 49, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .selects .day #day + .selecter-selected {
    width: 77px;
  }
  /* line 54, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .selects .month {
    width: 28%;
  }
  .slide-registraition .orange-back .slide-reg .right-side .selects .month #month + .selecter-selected {
    width: 109px;
  }
  .slide-registraition .orange-back .slide-reg .right-side .select-place {
    margin-top: 3px;
  }
    /* line 67, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .select-place .city #city + .selecter-selected {
    width: 285px;
  }
  /* line 73, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .right-side .checkbox {
    margin-top: 3px;
    height: 50px;
  }
  .slide-registraition .orange-back .slide-reg .right-side .checkbox ul li {
    margin-bottom: 5px;
  }
  /* line 77, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .green-button {
    margin-top: -6px;
  }
  /* line 79, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .green-button .start {
    width: 165px;
    height: 40px;
    margin-left: 15px;
  }
  /* line 83, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .green-button .start a {
    margin-top: 10px;
    font-size: 1.125rem;
  }
  /* line 88, ../sass/media/_media_991-768_sm.scss */
  .slide-registraition .orange-back .slide-reg .green-button .no-cssgradients .start {
    background: url("../images/gb_bg.png") repeat-x;
    background-position: center;
  }
}
/* line 1, ../sass/media/_media_hidden.scss */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

/* line 7, ../sass/media/_media_hidden.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 22, ../sass/media/_media_hidden.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 25, ../sass/media/_media_hidden.scss */
  table.visible-xs {
    display: table !important;
  }

  /* line 28, ../sass/media/_media_hidden.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 31, ../sass/media/_media_hidden.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 37, ../sass/media/_media_hidden.scss */
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 42, ../sass/media/_media_hidden.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  /* line 47, ../sass/media/_media_hidden.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 52, ../sass/media/_media_hidden.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 55, ../sass/media/_media_hidden.scss */
  table.visible-sm {
    display: table !important;
  }

  /* line 58, ../sass/media/_media_hidden.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 61, ../sass/media/_media_hidden.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 67, ../sass/media/_media_hidden.scss */
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 72, ../sass/media/_media_hidden.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 77, ../sass/media/_media_hidden.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 82, ../sass/media/_media_hidden.scss */
  .visible-md {
    display: block !important;
  }

  /* line 85, ../sass/media/_media_hidden.scss */
  table.visible-md {
    display: table !important;
  }

  /* line 88, ../sass/media/_media_hidden.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 91, ../sass/media/_media_hidden.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 97, ../sass/media/_media_hidden.scss */
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 102, ../sass/media/_media_hidden.scss */
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 107, ../sass/media/_media_hidden.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  /* line 112, ../sass/media/_media_hidden.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 115, ../sass/media/_media_hidden.scss */
  table.visible-lg {
    display: table !important;
  }

  /* line 118, ../sass/media/_media_hidden.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 121, ../sass/media/_media_hidden.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 127, ../sass/media/_media_hidden.scss */
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  /* line 132, ../sass/media/_media_hidden.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  /* line 137, ../sass/media/_media_hidden.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  /* line 142, ../sass/media/_media_hidden.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 147, ../sass/media/_media_hidden.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 152, ../sass/media/_media_hidden.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 157, ../sass/media/_media_hidden.scss */
  .hidden-lg {
    display: none !important;
  }
}
