$orange: #ffa352;
$orange-bg: #ffa200;
$orange-light: #ffc28c;
$gray: #9a9a9a;
$gray-light: #cfcfcf;
$gray-text: #4e4e4e;
$gray-input: #666666;
$gray-text-light: #a3a3a3;
$gray-text-lighter: #cfcfcf;
$gray-user-list: #969696;
$gray-38: #b9b9b9;
$orange-text: #ffa352;
$white: #fff;