$source-sans: "SourceSansProLight", sans-serif;


//line-height style
$lh-sm: 1.1em;
$lh-md: 1.3em;

//11px
$fs-extra-small: 0.6875rem;
//14px
$fs-small: 0.875rem;
//16px
$fs-base: 1rem;
//18px
$fs-title: 1.125rem;
//24px
$fs-title-large: 1.5rem;
//31px
$fs-title-extra-large: 1.938rem;
//48px
$fs-large: 3rem;
//44px
$fs-extra-large: 2.75rem;
//11px = 0.6875rem
//12px = 0.75rem
//13px = 0.8125rem
//14px = 0.875rem
//15px = 0.9375rem
//16px = 1rem (base)
//17px = 1.063rem
//18px = 1.125rem
//20px = 1.25rem
//21px = 1.313rem
//22px = 1.375rem
//24px = 1.5rem
//26px = 1.625rem
//28px = 1.75rem
//30px = 1.875rem
//31px = 1.938rem
//32px = 2rem
//33px = 2.063rem
//34px = 2.125rem
//36px = 2.25rem
//44px = 75rem
//48px = 3rem
//49px = 3.063rem
//60px = 3.75rem